header
    padding: 20px 0
    background-color: #212529
    position: fixed
    width: 100%
    top: 0
    z-index: 1
    .menu
        a
            .imgbox
                width: 170px
                img
                    &:hover
                        cursor: pointer
        nav
            a
                margin: 20px
                color: #f4f4f4
                font-size: 20px
                &:hover
                    color: #F1C634
                    cursor: pointer
                    transition: 0.5s

@media screen and ( max-width: 992px )
    header
        padding-bottom: 47px
        a
            .imgbox
                position: absolute
                left: 15px
        nav
            display: flex
            flex-direction: column
            position: absolute
            background-color: #212529
            width: 100%
            left: 0
            top: 60px
            a
                display: none
            i
                position: fixed
                right: 15px
                top: 10px
                color: #969597
                font-size: 30px
                margin: 10px
                &:hover
                    cursor: pointer
