body {
  font-family: "Dosis", sans-serif;
}

section {
  padding: 100px 0;
}

.imgbox img {
  width: 100%;
}

header {
  padding: 20px 0;
  background-color: #212529;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
header .menu a .imgbox {
  width: 170px;
}
header .menu a .imgbox img:hover {
  cursor: pointer;
}
header .menu nav a {
  margin: 20px;
  color: #f4f4f4;
  font-size: 20px;
}
header .menu nav a:hover {
  color: #F1C634;
  cursor: pointer;
  transition: 0.5s;
}
header .menu nav .hamburgerMenuBox {
  display: none;
}

@media screen and (max-width: 992px) {
  header {
    padding-bottom: 47px;
  }
  header .menu a .imgbox {
    position: absolute;
    left: 15px;
  }
  header .menu nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #212529;
    width: 100%;
    left: 0;
    top: 60px;
  }
  header .menu nav a {
    display: none;
  }
  header .menu nav .hamburgerMenuBox {
    border: 1px solid #969597;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    color: #fff;
    position: fixed;
    right: 3px;
    top: 4px;
    color: #969597;
    font-size: 20px;
    margin: 10px;
  }
  header .menu nav .hamburgerMenuBox:hover {
    cursor: pointer;
  }
  header .menu nav .hamburgerMenuBox h5 {
    font-size: 15px;
    margin-right: 10px;
    font-weight: 700;
    color: #9A9C9E;
  }
  header .menu nav .hamburgerMenuBox i {
    font-size: 10px;
  }
}
#welcome {
  min-height: 100vh;
  background-image: url("assets/header-bg.jpg");
  background-size: cover;
  background-position: center;
}
#welcome .textbox h1, #welcome .textbox h2 {
  color: white;
  text-align: center;
}
#welcome .textbox h2 {
  font-size: 50px;
  margin-top: 100px;
}
#welcome .textbox h1 {
  font-size: 100px;
  margin: 40px 0 70px;
  font-weight: 700;
}
#welcome a {
  background-color: #FFC800;
  padding: 30px 70px;
  border-radius: 8px;
}
#welcome a:hover {
  background-color: #cfa60f;
  cursor: pointer;
  transition: 0.5s;
}
#welcome a h5 {
  font-size: 25px;
  font-weight: 700;
  color: white;
}

@media screen and (max-width: 400px) {
  #welcome .textbox {
    line-height: 1.2;
  }
  #welcome .textbox h1 {
    font-size: 75px;
  }
  #welcome a {
    padding: 25px 40px;
  }
  #welcome a h5 {
    font-size: 30px;
  }
}
#services .textbox h1 {
  font-size: 50px;
  font-weight: 700;
}
#services .textbox h4 {
  font-size: 20px;
  margin: 16px 0 64px;
  color: #6C757D;
}
#services .logo {
  display: flex;
  justify-content: center;
}
#services .logo i {
  width: 130px;
  height: 130px;
  font-size: 60px;
  color: #fff;
  background-color: #FFC800;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#services .txt {
  text-align: center;
  padding: 0 60px;
}
#services .txt h2 {
  font-weight: 700;
  font-size: 30px;
  margin: 20px 0;
}
#services .txt p {
  color: #6C757D;
  line-height: 1.4;
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  #services .txt {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 991px) {
  #services .txt {
    padding: 0 35px;
  }
}
#portfolio {
  background-color: #F8F9FA;
}
#portfolio .textbox {
  text-align: center;
}
#portfolio .textbox h1 {
  font-size: 50px;
  font-weight: 700;
}
#portfolio .textbox h4 {
  font-size: 20px;
  margin: 16px 0 64px;
  color: #6C757D;
}
#portfolio .box {
  position: relative;
}
#portfolio .box .icon {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 200, 0, 0.9);
  opacity: 0;
}
#portfolio .box .icon i {
  font-size: 60px;
  color: white;
}
#portfolio .box .icon:hover {
  cursor: pointer;
  opacity: 0.9;
  transition: 0.25s;
}
#portfolio .text {
  padding: 30px 0;
  text-align: center;
  background-color: white;
}
#portfolio .text h2 {
  font-weight: 700;
  font-size: 30px;
  margin: 15px 0 10px;
}
#portfolio .text h3 {
  margin-bottom: 10px;
  color: #6C757D;
  font-size: 18px;
}

#about .textboxHead h1 {
  font-weight: 700;
  font-size: 50px;
}
#about .textboxHead h4 {
  font-size: 20px;
  margin: 16px 0 65px;
  color: #6C757D;
}
#about .box {
  margin-bottom: 120px;
}
#about .box .textboxBeginnings, #about .box .textboxDecember {
  padding: 0 120px 0 80px;
}
#about .box .textboxMarch, #about .box .textboxJuly {
  padding: 0 80px 0 95px;
}
#about .box .textboxBeginnings h2, #about .box .textboxMarch h2, #about .box .textboxDecember h2, #about .box .textboxJuly h2 {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 15px;
}
#about .box .textboxBeginnings p, #about .box .textboxMarch p, #about .box .textboxDecember p, #about .box .textboxJuly p {
  font-size: 20px;
  color: #6C757D;
  line-height: 1.4;
}
#about .box .imgbox, #about .box .image {
  position: absolute;
  left: 43%;
  width: 170px;
  height: 170px;
  border: 7px solid #e9ecef;
  border-radius: 50%;
  overflow: hidden;
}
#about .box .image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc800;
}
#about .box .image h3 {
  color: white;
  font-size: 23px;
  line-height: 1.3;
  font-weight: 700;
  padding: 0 35px;
}

@media screen and (max-width: 660px) {
  #about {
    justify-content: flex-end;
  }
  #about .box .textboxBeginnings, #about .box .textboxMarch, #about .box .textboxDecember, #about .box .textboxJuly {
    padding: 0;
    margin: 0 20px 0 110px;
  }
  #about .box .imgbox, #about .box .image {
    left: 0;
    width: 90px;
    height: 90px;
    margin: 20px;
    border: 5px solid #e9ecef;
  }
  #about .box .image h3 {
    padding: 20px;
    font-size: 13px;
    font-weight: 500;
  }
}
@media screen and (min-width: 661px) and (max-width: 767px) {
  #about .box .textboxBeginnings, #about .box .textboxMarch, #about .box .textboxDecember, #about .box .textboxJuly {
    padding: 0 20px 0 135px;
  }
  #about .box .imgbox, #about .box .image {
    left: 0;
    width: 90px;
    height: 90px;
    margin-left: 105px;
    border: 5px solid #e9ecef;
  }
  #about .box .image h3 {
    font-size: 13px;
    font-weight: 500;
    padding: 0 18px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  #about .box .textboxBeginnings, #about .box .textboxMarch, #about .box .textboxDecember, #about .box .textboxJuly {
    padding: 0;
  }
  #about .box .textboxBeginnings, #about .box .textboxDecember {
    padding-right: 90px;
    padding-left: 30px;
  }
  #about .box .textboxMarch, #about .box .textboxJuly {
    padding-left: 70px;
    padding-right: 41px;
  }
  #about .box .imgbox, #about .box .image {
    width: 90px;
    height: 90px;
    border: 5px solid #e9ecef;
  }
  #about .box .image h3 {
    font-size: 13px;
    font-weight: 500;
  }
}
#team {
  background-color: #F8F9FA;
}
#team .textbox {
  text-align: center;
}
#team .textbox h1 {
  font-weight: 700;
  font-size: 50px;
}
#team .textbox h4 {
  font-size: 20px;
  margin: 16px 0 30px;
  color: #6C757D;
}
#team .textbox h2 {
  font-weight: 700;
  font-size: 30px;
}
#team .textbox p {
  font-size: 20px;
  margin: 40px 0;
  color: #6C757D;
  line-height: 1.3;
}
#team .imgbox {
  width: 200px;
}
#team .imgbox img {
  border: 7px solid #E9ECEF;
  border-radius: 50%;
}
#team .icons {
  display: flex;
  justify-content: center;
}
#team .icons ul {
  display: flex;
}
#team .icons ul li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #212529;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
#team .icons ul li:hover {
  cursor: pointer;
  opacity: 0.8;
}
#team .icons ul li i {
  color: white;
}
#team .wid {
  width: 740px;
}

@media screen and (max-width: 767px) {
  #team .icons ul {
    margin-bottom: 50px;
  }
}
#platforms .box {
  display: flex;
  justify-content: center;
  align-items: center;
}
#platforms .box .imgbox {
  width: 150px;
  margin: 30px;
}

#contact {
  background-image: url("assets/map-image.png");
  background-color: #212529;
}
#contact .textbox h1 {
  font-weight: 700;
  font-size: 50px;
  color: white;
}
#contact .textbox h4 {
  font-size: 20px;
  margin: 16px 0 50px;
  color: #6C757D;
}
#contact .box form {
  margin-bottom: 50px;
}
#contact .box form .minibox {
  width: 100%;
}
#contact .box form .minibox input {
  width: 90%;
  font-size: 20px;
  font-weight: 600;
  padding: 20px;
  margin-top: 30px;
  border: none;
  border-radius: 5px;
}
#contact .box form textarea {
  width: 90%;
  font-size: 20px;
  font-weight: 600;
  padding: 20px;
  margin-top: 30px;
  border: none;
  border-radius: 5px;
}
#contact .btn {
  padding: 20px 60px;
  background-color: #B18F0E;
  opacity: 0.7;
  border-radius: 5px;
}
#contact .btn h5 {
  color: white;
  font-weight: 700;
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  #contact {
    text-align: center;
  }
  #contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #contact form textarea {
    height: 300px;
  }
}
footer {
  padding: 30px 0;
}
footer .box ul {
  display: flex;
}
footer .box ul li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #212529;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
footer .box ul li:hover {
  cursor: pointer;
  opacity: 0.8;
}
footer .box ul li i {
  color: white;
}
footer .box .textbox .txt {
  margin: 15px;
}
footer .box .textbox .txt h5 {
  font-size: 20px;
  color: #6C757D;
}
footer .box .textbox .txt h5:hover {
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  footer .box {
    display: flex;
    flex-direction: column;
  }
  footer .box .minibox {
    margin: 10px 0;
  }
}/*# sourceMappingURL=style.css.map */